.authpage {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: url('https://images.unsplash.com/photo-1533640924469-f04e06f8898d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1926&q=80')
        rgba(37, 37, 37, 0.2);

    .authpage_form {
        margin: auto;
        margin-top: 5%;
        width: 635px;
        height: 728px;
        border-radius: 24px;
        background: rgba(0, 0, 0, 0.6);
        box-shadow: rgba(255, 255, 255, 0.6) !important;

        .authform_login--btn {
            height: 54px;
            width: 459px;
            border-radius: 4px;
            // padding: 13.5px;
            /* orange */

            background: #f78b2d;

            span {
                font-family: 'Nunito';
                font-size: 20px;
                font-weight: 800;
                line-height: 27px;
                letter-spacing: 0em;
                text-align: left;
                color: rgba(255, 255, 255, 1);
            }
        }

        .authform_logo {
            padding-top: 62px;
            padding-bottom: 37px;
            display: flex;
            justify-content: center;
        }

        .authform_login--title {
            color: rgba(247, 139, 45, 1);
            font-family: 'Nunito', sans-serif;
            font-size: 32px;
            font-weight: 800;
            line-height: 42px;
            letter-spacing: 0.02em;
            text-align: center;
            margin-bottom: 42px;
        }

        input,
        .input {
            height: 54px;
            width: 459px;
            left: 0px;
            top: 0px;
            border-radius: 4px;
            padding: 0px 18px 0px 50px;
            outline: none;
            border: 1px solid rgba(247, 139, 45, 1);
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 20px;
            /* identical to box height */

            letter-spacing: 0.0015em;
        }
        ::placeholder {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 20px;
            /* identical to box height */

            letter-spacing: 0.0015em;

            /* $-gray-500 */

            color: #666666;
        }

        .authform_login--input {
            display: flex;
            flex-direction: column;
            align-items: center;

            .input-username {
                margin-bottom: 38px;
            }

            .input-password {
                margin-bottom: 18px;
            }

            .form-repass {
                height: 15px;
                width: 72%;
                display: flex;
                align-items: flex-start;
                margin-bottom: 25px;

                .input_repass {
                    height: 16px;
                    width: 16px;
                    left: 0px;
                    top: 4px;
                    border-radius: 2px;
                    border: 1.5px solid rgba(255, 255, 255, 1) !important;
                    margin-bottom: 15px;
                    margin-right: 8px;
                    overflow: hidden;
                    background: rgba(40, 40, 40, 0.2);
                    color: black;
                }

                label {
                    font-family: 'Nunito';
                    font-size: 14px;
                    // font-weight: 400;
                    // line-height: 24px;
                    color: rgba(255, 255, 255, 1);
                    letter-spacing: 0.5px;
                    // text-align: center;
                }
            }
        }
    }
}

.ant-checkbox-input {
    height: 15px !important;
}

.input-form {
    position: relative;

    .icon {
        position: absolute !important;
        top: 10px;
        left: 15px;
    }

    .icon-showPassword {
        position: absolute !important;
        top: 10px;
        right: 15px;
    }
}
