.header_search_component {
    height: 100% !important;
    .header_search_input {
        height: 40px;
        width: 330px;
        border-radius: 25px;
        padding: 8px 12px 8px 12px;
    }
}
