// Base
$font: 'Nunito', sans-serif;

$main-background: #FEECDD;
$main-color: #F78B2D;

$border-main-color: #F8B000;
$txt-main-color: #333333;
$btn-main-color: $main-color;
$bg-after-main-coler: rgba(0, 0, 0, 0.5);

// Header
$header-height: 76px;
$header-tablet-height: 70px;
$header-mobile-height: 40px;
$header-shrink-height: 70px;

// Color
$orange: $main-color;
$dark-yelow: $border-main-color;
$green: #53A551;
$blue: #413ED4;
$red: #DC0000;
$red-dark: #A62323;
$brown: #905B36;
$light-gray: #E0E0E0;
$gray: #9C9CAC;
$dark-gray: #7D747C;
$darker-gray: #6D6D6D;
$white: #FFFFFF;

// Border-Radius
$br-img: 12px 12px 0px 34px;
$br-search: 25px;
$br-dragger: 18px;
$br-modal: 14px;
$br-card: 12px;
$br-menu: 6px;
$br-btn: 4px;

// Box-Shadow
$bs-table: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);

// Responsive
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;
$xxl-width: 1400px;