.header_changelanguage {
    width: 80px !important;
    padding-top: 5px;
    padding-left: 15px;
    // background-color: red;
    .header_changelanguage_flag {
        height: 17px;
        width: 25px;
        background-color: yellow;
    }
    .header_changelanguage-icon {
        width: 8px !important;
        height: 4px !important;
    }
}
#root > div > section > section > header > div > div.header_changelanguage > a > div > div:nth-child(2) > span > svg {
    width: 12px !important;
    // height: 4px !important;
    color: white;
}
