.area-page {
    display: flex;
    min-height: 92.9vh;
    .area-sidebar {
        width: 20%;
        background-color: white;
        padding: 20px;
    }
}

.area-content {
    padding: 20px;
    width: 80%;

    .bth-table {
        width: 90%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
        Button:first-child {
            margin-right: 10px;
        }
    }
}
.btn-findArea {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    Button:first-child {
        margin-right: 10px;
    }
}

.table-layout {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    Table {
        width: 100%;
        margin: 0 auto;
    }
}
