@import url(../../../../sass//_variables.scss);

.siderbar {
    background: url(https://images.unsplash.com/photo-1578474846511-04ba529f0b88?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80)
        rgba(0, 0, 0, 0.7) !important;
    background-size: cover !important;

    .siderbar_logo {
        width: 100% !important;
        text-align: center;
        height: 76px;
    }
    .siderbar_menu {
        border-right: none !important;
        width: 85% !important;
        margin: 0 auto;
        background: transparent;
        text-align: start;
        span {
            margin-left: 20px !important;
            font-family: 'Nunito';
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0.001em;
            color: #fff;
        }

        li {
            margin-bottom: 15px !important;
            border-radius: 6px;
            position: relative;
            svg {
                position: absolute;
                top: 7px;
                left: 21px;
            }
            span {
                position: absolute;
                left: 45px;
                top: 10px;
            }
        }
    }
}

.ant-menu-item-selected {
    border-right: none;
    background-color: #f78b2d !important;
}
// .ant-menu-item:hover {
//     border-right: none;
//     background-color: #f78b2d !important;
// }
.ant-menu-item::after {
    border-right: none !important;
}

#root > div > section > aside > div > ul > li.ant-menu-item {
    margin: auto;
    padding-top: 5px;
    // width: 44px;
    // height: 44px;
    line-height: 44px !important;
    position: relative;
}
// #root > div > section > aside > div > ul > li.ant-menu-submenu.ant-menu-submenu-inline.ant-menu-submenu-selected > div {
//     margin-left: -12px;
// }
// #root > div > section > aside > div > ul > li.ant-menu-submenu.ant-menu-submenu-inline > div {
//     margin-left: -12px;
// }

// .ant-menu {
//     z-index: 300;
//     height: 150px;
//     background: none !important;
//     margin-top: -40px !important;
// }
#root
    > div
    > section
    > aside
    > div
    > ul
    > li.ant-menu-submenu.ant-menu-submenu-inline.ant-menu-submenu-active
    > div
    > i {
    color: white !important;
    margin-left: 20px !important;
}

.ant-menu-submenu-popup > .ant-menu {
    background-color: #fff !important;
    margin-left: 20px !important;
    height: 100px !important;
    &:hover span {
        color: black !important;
    }

    svg {
        display: none !important;
    }
    & > .ant-menu-item-selected {
        color: white !important;
    }
}

.ant-menu-submenu-arrow,
.ant-menu-submenu-expand-icon {
    color: #fff !important;
    right: 15px !important;
    z-index: 20 !important;
}

#rc-menu-uuid-51764-2--popup {
}
.ant-menu-submenu {
    > ul {
        background: transparent !important;
        margin-left: 20px !important;
        margin-top: 10px !important;
    }
}
