.table {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.IconButton {
    margin-right: 10px !important;

    & :hover {
        color: rgb(225, 112, 112);
    }
}
.ant-table-wrapper {
    width: 1200px !important;
}
