.ant-drawer-content-wrapper {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;

    padding: 10px 16px;
    text-align: right;
    background: rgb(255, 255, 255);
    border-top: 1px solid #e9e9e9;
    // margin-top: 30px;
}
.ant-table-wrapper {
}

.formNewMenu {
    position: relative;
}

.inputFormNewMenu {
    width: 270px !important;
    position: absolute;
    top: 0;
    left: 0;
}
.Modal-left {
    position: relative;
}
.switchNewMenu {
    position: absolute !important;
    left: 75px !important;
    top: 60px !important;
    z-index: 1 !important;
}
.title {
    width: 74%;
    font-size: 25px;
    font-weight: bold;
    margin: 0 auto;
}
.editDish #nest-messages_noneMenu {
    position: absolute !important;
    left: 70px;
}
.editDish .title {
    width: 100% !important;
    margin-left: -100px !important;
}
