.header {
    display: flex;
    flex-direction: row;
    background-color: $main-color;
    height: $header-height;
    align-items: center;
    justify-content: space-between !important;
    // gap: 567px;
    &__trigger {
        color: $white;
    }
}
