.new-table {
    width: 100%;

    &__head {

        font-family: 'Nunito';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 127%;

        /* identical to box height, or 18px */
        letter-spacing: 0.001em;
        text-align: left;
        text-transform: capitalize;

        /* white */
        color: $white;

        &__row {
            th {
                background: $main-color;
                padding: 12px;

                &:first-of-type {
                    border-top-left-radius: 4px;
                }

                &:last-of-type {
                    border-top-right-radius: 4px;
                }
            }

            &__col-stt {
                width: 30px;
            }

            &__col-id {
                width: 50px;
            }

            &__col-active-2 {
                width: 70px;
            }

            &__col-fullName {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                gap: 8px;

                &__button {
                    background-color: $main-color;
                    border: 1px solid $main-color;

                    :hover {
                        svg {
                            color: $gray;
                        }
                    }
                }
            }
        }
    }

    &__body {
        /* Subtitle 2/nunito/regular 14px */
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;

        letter-spacing: 0.001em;
        color: $txt-main-color;

        &__row {

            td {
                background: $white;
                padding: 12px;
                line-height: 37px;
            }

            &__col-stt {
                font-weight: 600;
                text-transform: capitalize;
            }

            &__col-id {
                font-weight: 600;
                text-transform: capitalize;
            }

            &__col-fullName {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 4px;

                svg {
                    margin-bottom: 3px;
                }
            }
        }

        tr {
            border-bottom: 0.5px solid;

            &:last-of-type {
                border-bottom: none;
            }
        }

    }
}