.data-table {
    .data-table__datas {
        width: 100% !important;
        .ant-table-thead {
            .ant-table-cell {
                background: #f78b2d;
                color: white;
            }
        }
    }
}
