.table {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #f0f2f5;
}
.IconButton {
    margin-right: 10px !important;

    & :hover {
        color: rgb(225, 112, 112);
    }
}
#root > div > div > div > div > div > div > div.MuiDataGrid-main.css-204u17-MuiDataGrid-main > div:nth-child(3) {
    // color: white !important;
    color: white !important;
    z-index: -10000 !important;
}

#root > div > div > div > div > div > div > div.MuiDataGrid-main.css-204u17-MuiDataGrid-main > div:nth-child(4) {
    color: white !important;
}
.ant-table-wrapper {
    width: 1200px !important;
}
